<%- include('./header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/poll.css">
  <script src="/javascripts/poll.js"></script>

  <body class="bg-image bg-index">
    <%- include('./partials/navbar.ejs') %>
      <div class="row">
        <div class="container init-div col-sm-10 text-center">
          <table>
            <tr>
              <th>
                <img class="picon" src="/images/TPP.png" alt="台灣民眾黨">
                1號: 民眾黨
              </th>
              <th>
                <img class="picon" src="/images/DPP.png" alt="民主進步黨">
                2號: 民進黨
              </th>
              <th>
                <img class="picon" src="/images/KMT.png" alt="中國國民黨">
                3號: 國民黨
              </th>
            <tr>
              <td>
                <img src="/images/poll1.png" alt="柯盈配">
              </td>
              <td>
                <img src="/images/poll2.png" alt="柯盈配">
              </td>
              <td>
                <img src="/images/poll3.png" alt="柯盈配">
              </td>
            </tr>
            <tr>
              <td id='r1' class="per">
                獲得票數: <%= entries[0] %>
                <br>
                佔比: <span style="color: red;"><%= entries[3] %></span> %
              </td>
              <td id='r2' class="per">
                獲得票數: <%= entries[1] %>
                <br>
                佔比: <span style="color: red;"><%= entries[4] %></span> %
              </td>
              <td id='r3' class="per">
                獲得票數: <%= entries[2] %>
                <br>
                佔比: <span style="color: red;"><%= entries[5] %></span> %
              </td>
            </tr>
          </table>
          <a href="/addPoll" id="addPoll" type="button" class="btn btn-warning">新增民調</a>
        </div>
      </div>
  </body>

  <%- include('./footer.ejs') %>